{% extends "hunts/admin/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{ block.super }}
{% render_bundle 'hunts_admin_stats' 'css' %}
{% endblock %}

{% block title %}
Admin Stats - {{ block.super }}
{% endblock %}

{% block script %}
{% render_bundle 'hunts_admin_stats' 'js' attrs='defer' %}
{% endblock %}

{% block page_header %}
<h1>Stats</h1>
{% endblock %}

{% block content %}
<p><input type="checkbox" checked="checked" id="auto-update"> <label for="auto-update">Update automatically</label></p>
<p><label for="episode">Episode</label>
	<select id="episode">
		<option value="">[all]</option>
	</select>
<p><label for="type">Graph type</label>
	<select id="type">
		<option value="percent-complete">Percentage completion</option>
		<option value="puzzle-difficulty">Average time to completion</option>
		<option value="time-completed">Progress (scatter)</option>
		<option value="progress">Progress (line)</option>
		<option value="team-puzzle-stuckness">Time stuck (per team and puzzle)</option>
	</select>
</p>
<div id="chart-container">
	<svg class="chart" id="episode-stats" width="800" height="800"></svg>
	<ol id="legend"></ol>
</div>
{% endblock %}


